.inputFieldLabels {
    --text-opacity: 1;
    color: #6b46c1;
    color: rgba(107, 70, 193, var(--text-opacity));
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: 500;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    padding: .5em;
    margin: .25rem 5rem;
}

.form-row > label {
    flex-grow: 3;
    flex: 2;
    align-self: flex-end;
}

.form-row > input {
    flex-grow: 9;
    border-radius: 10px;
}

.form-row > textarea {
    flex-grow: 9;
    align-self: flex-end;
    border-radius: 10px;
}